.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  background: #005ca8;
}
.navContainer .logo {
  font-size: 1.5rem;
}

.navContainer .logo a {
  text-decoration: none;
  color: white;
}
.navlinks ul {
  display: flex;
  align-items: center;
  gap: 0 2rem;
}
.navlinks ul li {
  list-style: none;
}

.navIcons {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
